{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block topic %}
    <div class="col-sm-4">
        <h3>Contact</h3>
    </div>
    <div class="col-sm-8">
        <ol class="breadcrumb pull-right hidden-xs">
            <li><a href="{% url 'blog:post-list' %}">Home</a></li>
            <li class="active">Contact</li>
        </ol>
    </div>
{% endblock topic %}

{% block content %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="well well-sm">
                    <legend class="text-center">Contact me</legend>
                    {% crispy form %}
                    <br><br>
                </div>
            </div>
       </div>
    </div>
{% endblock content %}
